<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tp1.e_cebanu.tp1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".models.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".BootstrapActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authenticator.AuthenticatorActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_authenticator" />
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize"
            />
        <activity android:name=".activities.ExampleMenuActivity" />
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_profile" />
        <activity
            android:name=".activities.GuideActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/activity_title_quide"/>
    </application>
</manifest>